@model TEK_Expense_Tracker.Models.Employee

<form id="addForm">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="Name" required />
    </div>
    <div class="form-group">
        <label>Department:</label>
        <input type="text" class="form-control" name="Department" required />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
